body {
  font-family: $ff-accent;
  color: #232323;
  background: $white;
  line-height: 1.4;
}

.container {
  position: relative;
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
  height: 100%;
}

.row {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  & > * {
    flex-basis: 100%;
  }
}

.card {
  padding: 1.2em;
  box-shadow: 0 0.2rem 0.5rem rgba(40, 40, 40, 0.2),
    0 0.5rem 1rem rgba(10, 10, 10, 0.1);
  & > * {
    width: 100%;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    .heading {
      margin-right: 0.75em;
    }
  }
  @media (max-width: 280px) {
    font-size: 0.75rem;
  }
  .heading {
    li {
      font-weight: 600;
    }
  }
  li {
    padding: 0.25em 0;
  }
  .action-btns > * {
    margin: 0.45em 0;
  }
  .wrapper {
    flex: 2;
  }
  .action-btns {
    flex: 1;
  }
}

.null {
  h1 {
    font-size: 2.5em;
    @media (max-width: 425px) {
      font-size: 1em;
    }
    margin: 1.5em auto;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.admin {
  margin: 1em 0;
}

.user {
  margin: 1em 0;
}

.image {
  width: fit-content;
  margin: 0 auto;
}
