%flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  cursor: pointer;
  padding: 1em 2.5em;
  background: $yellow;
  border-radius: 3em;
  transition: background 0.2s;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  &:hover {
    background: $black;
    color: $white;
  }
}

.underline {
  display: block;
  height: 2px;
  background: $black;
  width: 15%;
  margin-bottom: 1em;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: $yellow;
    left: 100%;
  }
}

.h2 {
  margin-bottom: 0.5em;
  font-size: 2rem;
  font-weight: 600;
}
.p {
  line-height: 1.6;
  opacity: 0.9;
}
.yellow {
  color: $yellow;
}

header {
  .menu-top {
    padding: 1em 0;
    color: $white;
    background: $lightBlack;
    @media (max-width: 767px) {
      font-size: 0.75rem;
    }
  }
  .logo {
    cursor: pointer;
    position: relative;
  }
  .menu-main {
    padding: 1em 0 0.65em 0;
    justify-content: space-between;

    .links {
      font-weight: 500;
      font-size: 1rem;

      ul {
        @media (max-width: 1024px) {
          display: none;
        }
        li {
          transition: color 0.2s;
          &:hover {
            color: $yellow;
          }
          margin-right: 2em;
        }
      }
      .sign-in {
        a {
          &:hover {
            text-decoration: underline;
          }
        }
        @media (max-width: 1024px) {
          font-size: 0.85rem;
          display: none;
        }
      }
    }
    .hamburger {
      padding: 0.5em;
      cursor: pointer;
      @media (min-width: 1024px) {
        display: none;
      }
      span {
        display: block;
        background: $black;
        height: 2px;
        width: 25px;
        margin-bottom: 5px;
        border-radius: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .menu-mobile {
    width: 100%;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    @media (min-width: 1024px) {
      display: none;
    }

    .links {
      padding: 2em 0;
      height: 100%;
      font-weight: 500;
      font-size: 1.1rem;
      @extend %flex;

      ul {
        @extend %flex;
        li {
          margin-bottom: 1.5em;
          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }
  .visible {
    visibility: visible;
    max-height: 450px;
  }
}

.banner {
  position: relative;
  height: 79.5vh;
  background: $black;
  color: $white;
  .banner-text {
    max-width: 80%;
    @media (max-width: 767px) {
      max-width: 100%;
    }
    & > * {
      margin-bottom: 0.75rem;
      animation: animateIn 0.85s ease-in-out;
      animation-fill-mode: both;
      line-height: 1;
    }
    h3 {
      color: $yellow;
      font-size: 1.5rem;
      animation-delay: 100ms;
    }
    h1 {
      font-size: 3rem;
      font-weight: 700;
      animation-delay: 400ms;
      @media (max-width: 425px) {
        font-size: 2rem;
      }
    }
    p {
      font-weight: 500;
      line-height: 1.6;
      animation-delay: 700ms;
    }
    .cta {
      padding-top: 2rem;
      animation-delay: 1000ms;
      .btn-primary {
        @media (max-width: 425px) {
          font-size: 0.85rem;
        }
      }
    }
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.services {
  display: flex;
  flex-wrap: wrap;

  .service-card {
    display: flex;
    width: 25%;
    padding: 1.5em 0;

    &:nth-child(even) {
      background: $lightgray;
    }
    @media (max-width: 1200px) {
      width: 50%;
    }
    @media (max-width: 600px) {
      width: 100%;
    }

    .service-img {
      flex: 3;
      padding-left: 1em;
      padding-top: 0.75em;
      @media (max-width: 600px) {
        flex: 2;
      }
    }
    .service-content {
      flex: 7;
      padding: 0 0.75em;
      h2 {
        font-size: 1.2rem;
        font-weight: 600;
        padding-bottom: 0.75em;
        opacity: 0.8;
      }
      p {
        opacity: 0.8;
        line-height: 1.7;
        font-size: 0.95rem;
      }
    }
  }
}
.about {
  padding: 5em 0;
  margin: 0 auto;
  width: 80%;
  @media (min-width: 767px) {
    width: 50%;
  }

  .cta {
    padding-top: 3em;
  }
}

.contact {
  padding: 3em 0;
  background: $lightgray;
  .container {
    width: 90%;

    @media (max-width: 1200px) {
      width: 70%;
    }
    @media (max-width: 767px) {
      width: 90%;
    }

    @media (min-width: 1200px) {
      display: flex;
      width: 100%;
      align-items: center;
      & > * {
        flex-basis: 100%;
        padding: 0 2em;
      }
    }
    .service-card {
      display: flex;
      margin: 2em 0;
      .service-img {
        flex: 2;
        padding-left: 1em;
        padding-top: 0.75em;
        @media (max-width: 600px) {
          flex: 2;
        }
      }
      .service-content {
        flex: 7;
        padding: 0 0.75em;
        h2 {
          font-size: 1.2rem;
          font-weight: 600;
          padding-bottom: 0.75em;
          opacity: 0.8;
        }
        p {
          opacity: 0.8;
          line-height: 1.7;
          font-size: 0.95rem;
        }
      }
    }
    .contact-form {
      background: $white;
      padding: 2em 0;
      border-radius: 2px;
      .h2 {
        margin-bottom: 1em;
      }
    }
  }
}

footer {
  padding: 1.2em 0;
  background: $black;
  color: $white;
  .underline {
    background: $white;
  }
  .last {
    display: flex;
    justify-content: center;
    font-weight: 400;
    opacity: 0.9;
    font-size: 1.2rem;
    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }
  .footer-wrapper {
    display: flex;
    padding: 1em 0;

    & > * {
      flex-basis: 100%;
    }
    @media (max-width: 600px) {
      flex-direction: column;
    }
    .footer-card {
      padding: 1em 0em;
      font-weight: 500;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 600;
      padding-bottom: 1em;
      span {
        color: $yellow;
      }
    }
    p {
      line-height: 1.8;
      opacity: 0.8;
      width: 260px;
    }
  }
}

.form {
  padding: 2em 1em;
  input[type="submit"] {
    border: none;
    color: $white;
  }
  .filebase {
    padding: 0.75em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  .form-group {
    margin: 0.75em 0;
    .label {
      font-weight: 400;
      opacity: 0.85;
      display: block;
      padding-bottom: 0.5em;
    }
  }
}

.work-form {
  margin: 1em auto;
  width: 90%;
  max-width: 600px;
}
.signin-form {
  padding: 1em 1.5em;
  width: 90vw;
  max-width: 450px;
  @media (max-width: 425px) {
    width: 70vw;
  }
}

.gallery {
  margin: 1em auto 2em auto;
  display: grid;
  gap: 1em;
  @media (min-width: 767px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media (min-width: 425px) and (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-item {
    max-width: fit-content;
    position: relative;
  }
}

.about-us {
  .p {
    line-height: 1.8;
    margin-bottom: 1em;
  }
  .about-picture {
    margin: 1em 0;
    position: relative;
    height: 400px;
  }
}
